body {
  background: #0f172a;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.chat-container {
  width: 400px;
  background: #020617;
  padding: 20px;
  border-radius: 15px;
}

#chat-box {
  height: 300px;
  overflow-y: auto;
  background: #020617;
  margin-bottom: 10px;
}

.message {
  margin: 8px 0;
}

.user {
  color: #38bdf8;
}

.bot {
  color: #a7f3d0;
}

.input-area {
  display: flex;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  margin-left: 5px;
  padding: 10px;
  border-radius: 8px;
  background: #22c55e;
  border: none;
  cursor: pointer;
}

.extras {
  margin-top: 10px;
  font-size: 12px;
  opacity: 0.7;
}
